<div>
  <div *ngIf="currentRecipe" class="edit-form mt-3">
    <h4>Recipe</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentRecipe.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentRecipe.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input
                type="text"
                class="form-control"
                id="ingredients"
                [(ngModel)]="currentRecipe.ingredients"
                name="ingredients"
        />
      </div>
      <div class="form-group">
        <label for="cookingTime">Cooking Time(in minutes)</label>
        <input
                class="form-control"
                id="cookingTime"
                type="number"
                min="0"
                step="1"
                [(ngModel)]="currentRecipe.cookingTime"
                name="cookingTime"
        />
      </div>

      <label for="difficulty">Difficulty</label>
      <div class="input-group mb-3">
        <select class="custom-select form-control"
                id="difficulty"
                [(ngModel)]="currentRecipe.difficulty"
                name="difficulty">
          <option selected>Choose...</option>
          <option value="1">EASY</option>
          <option value="2">HARD</option>
          <option value="3">PRO</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="difficulty">Options</label>
        </div>
      </div>

      <div class="form-group">
        <label for="favoriteFlag">Favorite Flag</label>
        <input
                type="text"
                class="form-control"
                id="favoriteFlag"
                [(ngModel)]="currentRecipe.favoriteFlag"
                name="favoriteFlag"
        />
      </div>
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentRecipe.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="btn btn-primary mr-2"
      *ngIf="currentRecipe.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentRecipe.published"
      class="btn btn-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="btn btn-danger mr-2" (click)="deleteRecipe()">
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-success"
      (click)="updateRecipe()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentRecipe">
    <br />
    <p>Cannot access this Recipe...</p>
  </div>
</div>
